.custom-radio {
    border: 2px solid black;
    width: 1.2em;
    height: 1.2em;
  }

  .styled-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #007bff; /* thicker blue border */
    border-radius: 4px;
    transition: all 0.2s;
  }
  
  .styled-checkbox:checked {
    background-color: #007bff;
    border-color: #0056b3;
  }

